<div class="invitacion-container">
    <h1>¡Estás invitado a mi 18 cumpleaños!</h1>
    <p class="descripcion">Acompáñame a celebrar este día tan especial.</p>

    <p class="hDireccion">Dirección</p>

    <div class="map-container">
        <iframe width="100%" height="300" frameborder="0" style="border:0"
            src="https://www.google.com.mx/maps/embed?pb=!1m14!1m8!1m3!1d9320.993570842337!2d-103.2419855!3d20.6635068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b422bee666a3%3A0x80b67eabe9bca678!2sQUINTA%20LOLAIS!5e0!3m2!1sen!2smx!4v1625728553950!5m2!1sen!2smx"
            allowfullscreen="" loading="lazy">
        </iframe>
    </div>
    <p class="direccion">
        <a href="https://www.google.com.mx/maps/place/%22QUINTA+LOLAIS%22/@20.6657655,-103.2452471,16z/data=!4m14!1m7!3m6!1s0x8428b422bee666a3:0x80b67eabe9bca678!2s%22QUINTA+LOLAIS%22!8m2!3d20.6635068!4d-103.2419855!16s%2Fg%2F11gzjypwk!3m5!1s0x8428b422bee666a3:0x80b67eabe9bca678!8m2!3d20.6635068!4d-103.2419855!16s%2Fg%2F11gzjypwk?entry=ttu"
            target="_blank">Quinta Lolais</a>
    </p>

    <button class="confirmar-btn" (click)="confirmarAsistencia()">Confirmar Asistencia</button>
</div>