html, body {
    height: 100%;
    background-color: #FAB9BD; /* Fondo global */
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}